.App {
  text-align: center;
}

.copied-button {
  position: relative;
}

.copied-button::after {
  content: "Copied!";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.copied-button.copied::after {
  opacity: 1;
}
